body {
    margin: 0;
}
article, aside, footer {
    margin: 12px;
}
header {
    background-color: #294696;
    color: ghostwhite;
    padding: 10px 20px;
    border: 12px solid #ffa949;
    border-bottom-color: #cf7919;
}
footer {
    width: 200px;
    padding: 4px;
    border: 2px solid #ffa949;
    margin: 30px auto 15px;
    font-size: .8rem;
    text-align: center;
}
